# 01-3

In [5]:
# better with just range and step
odds = [n for n in range(1, 21) if n%2 == 1]
odds

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [13]:
evens = range(2, 1000001, 2)
print(min(evens))
print(max(evens))
print(sum(evens))

2
1000000
250000500000

In [14]:
threes = [n for n in range(3, 301) if n%3 == 0]
threes

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99,
 102,
 105,
 108,
 111,
 114,
 117,
 120,
 123,
 126,
 129,
 132,
 135,
 138,
 141,
 144,
 147,
 150,
 153,
 156,
 159,
 162,
 165,
 168,
 171,
 174,
 177,
 180,
 183,
 186,
 189,
 192,
 195,
 198,
 201,
 204,
 207,
 210,
 213,
 216,
 219,
 222,
 225,
 228,
 231,
 234,
 237,
 240,
 243,
 246,
 249,
 252,
 255,
 258,
 261,
 264,
 267,
 270,
 273,
 276,
 279,
 282,
 285,
 288,
 291,
 294,
 297,
 300]

In [12]:
cubes = [n**3 for n in range(1,11)]
cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# 01-4

In [16]:
months = {
    "JAN": 1,
    "FEB": 2,
    "MAR": 3,
    "APR": 4,
    "MAY": 5,
    "JUN": 6,
    "JUL": 7,
    "AUG": 8,
    "SEP": 9,
    "OCT": 10,
    "NOV": 11,
    "DEC": 12
}
months["MAR"]

3

In [46]:
date = "8-MAR-85"
date_parts = date.split("-")
date_parts

['8', 'MAR', '85']

In [47]:
date_parts[1] = (str(months[date_parts[1]]))
date_parts

['8', '3', '85']

In [48]:
("-").join(date_parts)

'8-3-85'

# Week 1 exercises

In [24]:
# 1a. Iterate a list of names to return a list of the names starting with H
names = ["Bob", "Alice", "Henry", "Greg", "Thomas", "Michael", "Hans"]
h_names = [n for n in names if n.startswith("H")]
h_names

['Henry', 'Hans']

In [25]:
# 1b. In one line create a list of the numbers 1-100 to the power of 3
cubes100 = [n**3 for n in range(1, 101)]
cubes100

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

In [28]:
# 1c. Iterate a list of names to create a list of tuples where the tuples first value is the length of the name and the second is the name
names_len = [(len(n), n) for n in names]
names_len

[(3, 'Bob'),
 (5, 'Alice'),
 (5, 'Henry'),
 (4, 'Greg'),
 (6, 'Thomas'),
 (7, 'Michael'),
 (4, 'Hans')]

In [29]:
# 1d. Iterate over each character in a string and get only those that are nummeric
string = "53htie5uiy245y4845yhrgh5445wuitr"
nums_in_string = [c for c in string if c.isdigit()]
nums_in_string

['5', '3', '5', '2', '4', '5', '4', '8', '4', '5', '5', '4', '4', '5']

In [30]:
# 1e. Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice (hint use 2 for loops in a single list comprehension)
dice_range = range(1, 7)
dice_combos = set([d1+d2 for d1 in dice_range for d2 in dice_range])
dice_combos

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [33]:
# 2a. Iterate a list of names and create a dictionary where key is the name and value is the length of the name
names_len_dict = {}
for name in names:
    names_len_dict[name] = len(name)
names_len_dict

# Comprehension
{n:len(n) for n in names}

{'Bob': 3,
 'Alice': 5,
 'Henry': 5,
 'Greg': 4,
 'Thomas': 6,
 'Michael': 7,
 'Hans': 4}

In [34]:
# 2b. Iterate a list of numbers and create a dictionary with {key:value} being {number:squareroot_of_number}
{n:n**2 for n in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}